<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>가입인사</title>
    <style>
      .pageNav {
        list-style-type: none;
      }
      .pageNav li {
        float: left;
        margin-right: 10px;
      }
      .active {
        font: bold;
        color: tomato;
      }
    </style>
  </head>
  <body>
    <h2>가입인사</h2>
    <div>
      <p><a th:href="@{/}">메인페이지</a></p>
    </div>
    <div>
      <form th:action="@{/greetboard/write}" method="post" th:object="${board}">
        <div>
          <label for="content">내용</label>
          <textarea th:field="*{content}" rows="3" required></textarea>
        </div>
        <div>
          <label for="writer">작성자</label>
          <input type="text" th:field="*{writer}" required />
        </div>
        <button type="submit">가입인사 남기기</button>
      </form>
    </div>
    <div>
      <table>
        <thead>
          <tr>
            <th>NO</th>
            <th>등록일</th>
            <th>작성자</th>
            <th>내용</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="board : ${greetboard}">
            <td><span th:text="${board.gno}"></span></td>
            <td><span th:text="${#temporals.format(board.regdate , 'yyyy-MM-dd a hh:mm:ss')}"></span></td>
            <td><span th:text="${board.writer}"></span></td>
            <td><span th:text="${board.content}"></span></td>
            <td><a th:href="@{/greetboard/delete(gno=${board.gno})}" onclick="return deleteConfirm();">삭제하기</a></td>
          </tr>
        </tbody>
      </table>
    </div>

    <nav th:if="${pmk.endPage > 0}">
      <ul class="pageNav">
        <li th:if="${pmk.prev}">
          <a th:href="@{/greetboard/list} + '?pageNum=__${pmk.startPage - 1}__'" aria-label="이전">
            <span>이전</span>
          </a>
        </li>

        <li class="page-item" th:each="number : ${#numbers.sequence(pmk.startPage, pmk.endPage)}">
          <a class="page-link" th:href="@{/greetboard/list} + '?pageNum=__${number}__'" th:classappend="${page.pageNum == number} ? 'active' : '' " th:text="${number}"></a>
        </li>

        <li th:if="${pmk.next}">
          <a th:href="@{/greetboard/list} + '?pageNum=__${pmk.endPage + 1}__'" aria-label="다음">
            <span>다음</span>
          </a>
        </li>
      </ul>
    </nav>

    <script>
      function deleteConfirm() {
        return confirm('삭제하시겠습니까?');
      }
    </script>
    <script th:if="${message}">
      let m = '[[${message}]]'; // 리다이렉트로 넘어온 메시지 저장
      alert(m); // 화면에 메시지 띄우기
    </script>
  </body>
</html>
