<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>사용자 페이지</title>
  </head>
  <body>
    <h2>사용자 페이지</h2>
    <div>
      <p th:text="${user.idNum}"></p>
      <p th:text="${user.id}"></p>
      <p th:text="${user.name}"></p>
    </div>
    <div>
      <table>
        <thead>
          <tr>
            <th>번호</th>
            <th>내용</th>
            <th>작성자</th>
            <th>작성일</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="commnet : ${comm}">
            <td th:text="${commnet.coNum}"></td>
            <td th:text="${commnet.content}"></td>
            <td th:text="${commnet.writer}"></td>
            <td th:text="${commnet.regdate}"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
