<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>로그인 페이지</title>
  </head>
  <body>
    <h2>로그인</h2>
    <form th:action="@{/login}" method="post" th:object="${user}">
      <div>
        <label for="title">아이디</label>
        <input type="text" th:field="*{uid}" required />
      </div>
      <div>
        <label for="password">비밀번호</label>
        <input type="text" th:field="*{password}" required />
      </div>
      <button type="submit">로그인</button>
    </form>
    <div>
      <p>아직 회원이 아니세요? <a th:href="@{/register}">회원가입하기</a></p>
    </div>
  </body>
</html>
