<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="layouts :: Head"></head>
  <body>
    <nav th:replace="layouts :: Navbar"></nav>
    <div class="container">
      <table class="table table-hover">
        <thead class="table-dark">
          <tr>
            <th>성</th>
            <th>이름</th>
            <th>이메일</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="employee : ${employeeList}">
            <td th:text="${employee.lastName}"></td>
            <td th:text="${employee.firstName}"></td>
            <td th:text="${employee.email}"></td>
          </tr>
        </tbody>
      </table>
      <a class="btn btn-primary" href="/employees/new" type="button">새 직원 추가</a>
    </div>
  </body>
</html>
